body {
  background-color: #eee;
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  color: #333;
  overflow-x: hidden;
}

body hr {
  background-color: #eee;
  height: 1px;
  border: none;
  margin: 20px auto;
}

.main {
  margin-left: 300px;
  -webkit-transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
  transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#toggle-side {
  left: 325px;
  top: 17px;
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
  transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
}

.sidebar .side-profile p, .sidebar .side-main p {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

#toggle-side:checked {
  -webkit-transform: translateX(-212px);
          transform: translateX(-212px);
}

#toggle-side:checked ~ .main {
  margin-left: 88px;
}

#toggle-side:checked ~ .main header .menu-toggle .elipsis2 {
  display: block;
}

#toggle-side:checked ~ .main header .menu-toggle .elipsis1 {
  display: none;
}

#toggle-side:checked ~ .sidebar {
  width: 88px;
  background-position-x: -100px;
}

#toggle-side:checked ~ .sidebar .side-main p {
  animation: fade reverse 0.3s forwards;
}

#toggle-side:checked ~ .sidebar .side-main .fa-caret-down {
  animation: fade reverse .3s forwards;
}

#toggle-side:checked ~ .sidebar .side-profile .name {
  width: 0px;
  opacity: 0;
}

#toggle-side:checked ~ .sidebar .side-header p {
  animation: fade reverse 0.3s forwards;
}

.main header {
  padding: 20px 30px;
  position: relative;
}

.main header .menu-toggle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 2px 1px rgba(30, 30, 30, 0.1);
          box-shadow: 0 1px 2px 1px rgba(30, 30, 30, 0.1);
  background-color: #fcfcfc;
  color: #999;
  overflow: hidden;
}

.main header .menu-toggle .elipsis2 {
  display: none;
}

.main header .menu-toggle:hover {
  -webkit-box-shadow: 2px 8px 10px -5px rgba(30, 30, 30, 0.1);
          box-shadow: 2px 8px 10px -5px rgba(30, 30, 30, 0.1);
  background-color: white;
}

.main header .title {
  padding: 0 20px;
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  color: #333;
  font-size: 18px;
  cursor: pointer;
}

.main header span {
  color: #333;
  margin-right: 10px;
}

.main header div p {
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 12px;
}

.content {
  padding: 20px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.content > div {
  background-color: #fcfcfc;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px 1px rgba(30, 30, 30, 0.1);
          box-shadow: 0 1px 2px 1px rgba(30, 30, 30, 0.1);
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-title a.no-dec {
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 18px;
  color: #7a21ce;
}

.page-title a:hover {
  color: #a61dcf;
}

.card {
  margin: 40px auto;
}

.card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
}

.card .card-header p {
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 18px;
}

.card .card-header .clip {
  position: relative;
  width: 65px;
  height: 65px;
  top: -45px;
  margin-right: 20px;
  border-radius: 5px;
  background-color: #00bcd4;
  font-size: 20px;
  color: white;
  -webkit-box-shadow: 2px 8px 10px -5px #00bbd46c;
          box-shadow: 2px 8px 10px -5px #00bbd46c;
}

.card .card-content {
  margin: 25px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr (2.5fr)[2];
      grid-template-columns: 1fr repeat(2, 2.5fr);
  -ms-grid-rows: 50px auto;
      grid-template-rows: 50px auto;
      grid-template-areas: 'pic header header' 'pic cv1 cv2';
}

.card .card-content .profpic {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: pic;
  width: 90%;
  height: 100%;
  background-color: #eee;
  border-radius: 5px;
  -webkit-box-shadow: 2px 8px 10px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 8px 10px -5px rgba(0, 0, 0, 0.2);
  background-image: url(../../../assets/perpustakaan.jpg);
}

.card .card-content .cv-head {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: header;
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 25px;
}

.card .card-content .prime-cv {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cv1;
}

.card .card-content .sec-cv {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: cv2;
}

.card table tr td:first-child {
  min-width: 120px;
}

.card table tr td {
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 15px;
  color: #333;
  padding: 5px;
  text-transform: capitalize;
}

.card table tr td.td-blue {
  color: #00bcd4;
}

.card table tr td.td-red {
  color: red;
}

.card table tr td .aktif {
  font-weight: 700;
  color: white;
  font-size: 10px;
  background-color: #4dad4d;
  padding: 4px 10px;
  border-radius: 3px;
}

.sidebar {
  overflow: hidden;
  width: 300px;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: 2px 0 50px -25px rgba(0, 0, 0, 0.8), inset -20px 0 7px 5px rgba(255, 255, 255, 0.3);
          box-shadow: 2px 0 50px -25px rgba(0, 0, 0, 0.8), inset -20px 0 7px 5px rgba(255, 255, 255, 0.3);
  background-image: url(../../../assets/bg-bloom_light.png);
  -webkit-transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
  transition: 0.5s cubic-bezier(0.29, -0.28, 0.38, 0.67) 5ms;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sidebar .side-header {
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
}

.sidebar .side-header h2 {
  font-weight: 400;
  font-size: 25px;
  color: #333;
  margin: 10px 5px;
}

.sidebar .side-header p {
  font-size: 18px;
  color: #999;
}

.sidebar .side-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  color: #333;
}

.sidebar .side-profile div.pic {
  font-weight: 400;
  font-size: 18px;
  background-color: #eee;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 2px 8px 10px -5px rgba(100, 100, 100, 0.37);
          box-shadow: 2px 8px 10px -5px rgba(100, 100, 100, 0.37);
}

.sidebar .side-profile div.name {
  width: 250px;
  margin-left: 10px;
  -webkit-transition: 0.3s 0.1s;
  transition: 0.3s 0.1s;
  overflow: hidden;
}

.sidebar .side-main {
  position: relative;
}

.sidebar .side-main > div.active {
  background-color: #00bcd4;
  -webkit-box-shadow: 2px 8px 10px -5px #00bbd46c;
          box-shadow: 2px 8px 10px -5px #00bbd46c;
}

.sidebar .side-main > div.active p, .sidebar .side-main > div.active div {
  color: white;
}

.sidebar .side-main > div {
  position: relative;
  cursor: pointer;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: .4s .03s;
  transition: .4s .03s;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin: 10px auto;
}

.sidebar .side-main > div .fa-caret-down {
  position: absolute;
  right: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #333;
}

.sidebar .side-main > div p {
  margin-left: 20px;
  font: 300 14px Roboto, Helvetica, arial, sans-serif;
  font-size: 15px;
  color: #333;
}

.sidebar .side-main > div > div {
  width: 20px;
  margin: 0 10px;
  font-size: 20px;
  color: #999;
}

.sidebar .side-main > div.inactive:hover {
  background-color: rgba(70, 70, 70, 0.1);
}

.sidebar div.hidden1, .sidebar div.hidden2 {
  display: none;
  opacity: 0;
}

.sidebar div.hidden1 > div, .sidebar div.hidden2 > div {
  font-size: 15px;
  margin: 0 7px;
}

.sidebar #menu1 {
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 1;
  top: 57px;
  opacity: 0;
}

.sidebar #menu1:hover ~ div.menu1 {
  background-color: rgba(70, 70, 70, 0.1);
}

.sidebar #menu1:checked ~ .menu1 .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar #menu1:checked ~ div.hidden1 {
  opacity: 1;
  -webkit-animation: fade 0.7s forwards;
          animation: fade 0.7s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar #menu1:checked ~ #menu2 {
  -webkit-transform: translateY(180px);
          transform: translateY(180px);
}

.sidebar #menu2 {
  position: absolute;
  height: 50px;
  width: 100%;
  z-index: 1;
  top: 117px;
  opacity: 0;
}

.sidebar #menu2:hover ~ div.menu2 {
  background-color: rgba(70, 70, 70, 0.1);
}

.sidebar #menu2:checked ~ .menu2 .fa-caret-down {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sidebar #menu2:checked ~ div.hidden2 {
  opacity: 1;
  -webkit-animation: fade 0.7s forwards;
          animation: fade 0.7s forwards;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes squish {
  0% {
    width: -webkit-fit-content;
    width: fit-content;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@keyframes squish {
  0% {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}

@-webkit-keyframes disappear {
  0% {
    display: inherit;
  }
  100% {
    display: none;
  }
}

@keyframes disappear {
  0% {
    display: inherit;
  }
  100% {
    display: none;
  }
}

@-webkit-keyframes h-menu-1 {
  0% {
    height: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}

@keyframes h-menu-1 {
  0% {
    height: 0;
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    height: 50px;
  }
}

@media only screen and (max-width: 1300px) {
  .card div.prime-cv table tr td, .card div.sec-cv table tr td {
    font-size: 14px;
  }
}
/*# sourceMappingURL=dashboard.css.map */