$def-font: 300 14px Roboto, Helvetica, arial, sans-serif;
$colors: (
    'blue' : #00bcd4,
    'lightgray' : #eee,
    'darkfont' : #333,
    'gray' : #999,
    'light' : rgb(252, 252, 252),
);
$lightshadow: 0 1px 2px 1px rgba(30, 30, 30, .1);
$boldshadow: 2px 8px 10px -5px;
$transition1: .4s cubic-bezier(.29,-0.28,.38,.67) 5ms;
$fontsize-xl: 25px;
$fontsize-l: 20px;
$fontsize-m: 18px;
$fontsize-s: 15px;

body {
    hr {
        background-color: map-get($colors, 'lightgray');
        height: 1px;
        border: none;
        margin: 20px auto;
    }
    background-color: map-get($colors, 'lightgray');
    font: $def-font;
    color: map-get($colors, 'darkfont');
    overflow-x: hidden;
}

.main {
    margin-left: 300px;
    transition: $transition1;
    box-sizing: border-box;
}

// toggle trigger
#toggle-side {
    left: 325px;
    top: 17px;
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    transition: $transition1;
}
#toggle-side:checked {
    transform: translateX(-200px);
    ~ .main {
        header .menu-toggle {
            .elipsis2 {display: block;}
            .elipsis1 {display: none;}
        }
        margin-left: 100px;
    }
    ~ .sidebar {
        width: 100px;
        background-position-x: -100px;
    }
}

// main content - header
.main header {
    padding: 20px 30px;
    position: relative;
    .menu-toggle {
        .elipsis2 {
            display: none;
        }
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: $lightshadow;
        background-color: map-get($colors, 'light');
        color: map-get($colors, 'gray');
        overflow: hidden;
    }
    .menu-toggle:hover {
        box-shadow: $boldshadow rgba(30, 30, 30, .1);
        background-color: white;
    }
    .title {
        padding: 0 20px;
        font: $def-font;
        color: map-get($colors, 'darkfont');
        font-size: $fontsize-m;
        cursor: pointer;
    }
    span {
        color: map-get($colors, 'darkfont');
        margin-right: 10px;
    }
    div p {
        font: $def-font;
        font-size: 12px;
    }
}

// main content - body
.content {
    > div {
        background-color: map-get($colors, 'light');
        border-radius: 5px;
        box-shadow: $lightshadow;
        padding: 15px;
        box-sizing: border-box;
    }
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.page-title {
    a.no-dec {
        font: $def-font;
        font-size: $fontsize-m;
        color: rgb(122, 33, 206);
    }
    a:hover {color: rgb(166, 29, 207);}
}
.card {
    margin: 40px auto;
    .card-header {
        // margin-top: 5px;
        display: flex;
        height: 20px;
        p {
            font: $def-font;
            font-size: $fontsize-m;
        }
        .clip {
            position: relative;
            width: 65px;
            height: 65px;
            top: -45px;
            margin-right: 20px;
            border-radius: 5px;
            background-color: map-get($colors, 'blue');
            font-size: $fontsize-l;
            color: white;
            box-shadow: $boldshadow #00bbd46c;
        }

    }

    .card-content {
        margin: 25px 10px;
        display: grid;
        grid-template-columns: 1fr repeat(2, 2.5fr);
		grid-template-rows: 50px auto;
        grid-template-areas:
			'pic header header'
			'pic cv1 cv2';
        .profpic {
			grid-area: pic;
            width: 90%;
            height: 100%;
            background-color: map-get($colors, 'lightgray');
            border-radius: 5px;
			box-shadow: $boldshadow rgba(0,0,0,.2);
			background-image: url(../../../assets/perpustakaan.jpg);
        }
		.cv-head {
			grid-area: header;
			font: $def-font;
			font-size: $fontsize-xl;
		}
		.prime-cv {
			grid-area: cv1;
		}
		.sec-cv {
			grid-area: cv2;
		}
	}
	table tr {
		td {
			font: $def-font;
			font-size: $fontsize-s;
			color: map-get($colors, 'darkfont');
			padding: 5px;
			text-transform: capitalize;
		}
//  custom cell color
		td.td-blue {color: map-get($colors, 'blue');}
		td.td-red {color: red;}
		td .aktif {
			font-weight: 700;
			color: white;
			font-size: 10px;
			background-color: rgb(77, 173, 77);
			padding: 4px 10px;
			border-radius: 3px;
		}
    }
}

// sidebar
.sidebar {
    overflow: hidden;
    width: 300px;
    background-color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    box-shadow: 2px 0 50px -25px rgba(0,0,0,.8), inset -20px 0 7px 5px rgba(255, 255, 255, 0.3);
    background-image: url(../../../assets/bg-bloom_light.png);
    transition: $transition1;
    padding: 15px;
    box-sizing: border-box;
    .side-header {
        font: $def-font;
        h2 {            
            font-weight: 400;
            font-size: $fontsize-xl;
            color: map-get($colors, 'darkfont');
            margin: 10px 5px;
        }
        p {
            font-size: $fontsize-m;
            color: map-get($colors, 'gray');
        }
    }
    .side-profile {
        display: flex;
        align-items: center;
        font: $def-font;
        color: map-get($colors, 'darkfont');
        .pic {
            font-weight: 400;
            font-size: $fontsize-m;
            background-color: map-get($colors, 'lightgray');
            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            box-shadow: $boldshadow rgba(100, 100, 100, 0.37);
        }
        p {
            margin-left: 10px;
        }
    }
    .side-main {
        // FOR TOGGLES PURPOSE: HIDDEN MENU BAR
            // menu 1
        div.hidden1, div.hidden2 {
            > div {
                font-size: $fontsize-s;
                margin: 0 7px;
            }
            display: none;
            opacity: 0;
        }
        #menu1 {
            position: absolute;
            height: 50px;
            width: 100%;
            z-index: 1;
            top: 57px;
            opacity: 0;
        }
        #menu1:hover ~ div.menu1 {
            background-color: rgba(70, 70, 70, 0.1);
        }
        #menu1:checked {
            ~ .menu1 .fa-caret-down {
                transform: rotate(180deg);
            }
            ~ div.hidden1 {
                opacity: 1;
                animation: fade 0.7s forwards;
                display: flex;
                //animation: h-menu-1 .4s linear 5ms forwards;
            }
            ~ #menu2 {
                transform: translateY(180px);
            }
        }
            // menu 2
        #menu2 {
            position: absolute;
            height: 50px;
            width: 100%;
            z-index: 1;
            top: 117px;
            opacity: 0;
        }
        #menu2:hover ~ div.menu2 {
            background-color: rgba(70, 70, 70, 0.1);
        }
        #menu2:checked {
            ~ .menu2 .fa-caret-down {
                transform: rotate(180deg);
            }
            ~ div.hidden2 {
                opacity: 1;
                animation: fade 0.7s forwards;
                display: flex;
                //animation: h-menu-1 .4s linear 5ms forwards;
            }
        }
        // ANIMATED TOGGLES END
        position: relative;
        > div.active {
            background-color: map-get($colors, 'blue');
            box-shadow: $boldshadow #00bbd46c;
            p, div {
                color: white;
            }
        }
        > div {
            .fa-caret-down {
                position: absolute;
                right: 20px;
                transition: 0.4s;
                color: map-get($colors, 'darkfont');
            }
            position: relative;
            cursor: pointer;
            padding: 10px;
            box-sizing: border-box;
            border-radius: 5px;
            transition: .4s .03s;
            p {
                margin-left: 20px;
                font: $def-font;
                font-size: $fontsize-s;
                color: map-get($colors, "darkfont");
            }
            > div {
                width: 20px;
                margin: 0 10px;
                font-size: $fontsize-l;
                color: map-get($colors, 'gray');
            }
            display: flex;
            align-items: center;
            height: 50px;
            margin: 10px auto;
        }
        > div.inactive:hover {
            background-color: rgba(70, 70, 70, 0.1);
        }
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
// abandoned animation, dont mind
@keyframes h-menu-1 {
    0% {
        height: 0;
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        height: 50px;
        }
    }