/* navigation bar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 3px 10px rgba(0,0,0,.6);
    align-items: center;
    overflow: hidden;
    padding-top: 5px;
}

.navbar a {
    font: 400 15px/60px Roboto, sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 10px;
}

.navbar a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,.6);
}

.navbar .navbar-catalog {
    font: 100 22px/60px Roboto, sans-serif;
    margin-left: 10%;
}

.navbar-menu {
    float: right;
    margin-right: 15%;
    display: inline;
}

.navbar .navbar-login {
    height: 54px;
    width: 100px;
    border-radius: 27px;
    background-color: rgb(29, 155, 194);
}
/* note: tambahi responsive header di width<900px! */


/* content */

.header {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/rak-buku.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 300 1em Roboto, sans-serif;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.header h1 {
    font: 500 45px 'Roboto Slab', serif;
    margin: 10px auto;
}

.header h2 {
    font-size: 25px;
    text-transform: capitalize;
}

.header p {
    font-size: 20px;
    margin-top: 5px;
}

.intro {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 6px black;
    font: 300 1em Roboto, sans-serif;
    color: rgb(77, 77, 77);
    align-items: center;
}

.intro-banner {
    background-color: white;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    align-items: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 40px 10%;
    box-sizing: border-box;
    position: relative;
    top: -13vh;
}

.intro-banner h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.intro-banner h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.intro-banner div.sub-intro {
    width: 47%;
    float: left;
    box-sizing: border-box;
}

.intro-banner .left {
    text-align: right;
    margin-right: 3%;
    padding-left: 10%;
}

.intro-banner .right {
    text-align: left;
    margin-left: 3%;
    padding-right: 10%;
}

.intro-banner .right ul {
    list-style-type: disc;
}

.intro-banner .carrousel {
    width: 55%;
    height: 400px;
    margin: 50px auto;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
}

.carrousel img {
    height: 100%;
    margin: auto;
}