/* navigation bar */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgb(37, 37, 37);
    box-shadow: 0 3px 10px rgba(0,0,0,.6);
    align-items: center;
    overflow: hidden;
    padding-top: 5px;
    z-index: 1;
}

.navbar a {
    font: 400 15px/60px Roboto, sans-serif;
    text-decoration: none;
    text-align: center;
    color: white;
    display: inline-block;
    margin: 0 10px;
}

.navbar a:hover {
    text-shadow: 0 0 8px rgba(255,255,255,.6);
}

.navbar .navbar-catalog {
    font: 100 22px/60px Roboto, sans-serif;
    margin-left: 10%;
}

.navbar-menu {
    float: right;
    margin-right: 15%;
    display: inline;
}

.navbar .navbar-login {
    height: 54px;
    width: 100px;
    border-radius: 27px;
    background-color: rgb(29, 155, 194);
}
/* note: tambahi responsive header di width<900px! */


/* content */

.header {
    width: 100%;
    height: 70vh;
    background-image: url("../assets/rak-buku.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 300 1em Roboto, sans-serif;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.header h1 {
    font: 500 45px 'Roboto Slab', serif;
    margin: 10px auto;
}

.header h2 {
    font-size: 25px;
    text-transform: capitalize;
}

.header p {
    font-size: 20px;
    margin-top: 5px;
}

.intro {
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 6px black;
    font: 300 1em Roboto, sans-serif;
    color: rgb(77, 77, 77);
    align-items: center;
}


/* banner */

.intro-banner {
    background-color: white;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    align-items: center;
    width: 90%;
    margin: auto;
    border-radius: 10px;
    padding: 40px 10%;
    box-sizing: border-box;
    position: relative;
    top: -13vh;
}

.intro-banner h2 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 40px;
}

.intro-banner h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.intro-banner div.sub-intro {
    width: 47%;
    float: left;
    box-sizing: border-box;
}

.intro-banner .left {
    text-align: right;
    margin-right: 3%;
    padding-left: 10%;
}

.intro-banner .right {
    text-align: left;
    margin-left: 3%;
    padding-right: 10%;
}

.intro-banner .right ul {
    list-style-type: disc;
}

.intro-banner .carrousel {
    width: 55%;
    height: 400px;
    margin: 50px auto;
    background-color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    overflow: hidden;
    text-align: center;
}

.carrousel img {
    height: 100%;
    margin: auto;
}


/* pustaka pilihan */

.intro-pustaka {
    width: 65%;
    margin: -5vh auto 0;
    align-items: center;
    padding-bottom: 70px;
}

.uni-pustaka h2 {
    font-size: 35px;
    margin-bottom: 40px;
}

.uni-pustaka .pustaka {
    width: 23%;
}

.uni-pustaka .pustaka div, .uni-pustaka .pustaka-2 div {
    height: 300px;
    width: 90%;
    margin: auto;
    background-color: rgb(194, 194, 194);
    border-radius: 5px;
    text-align: center;
    font: 400 100px/300px Roboto, sans-serif;
    box-shadow: 0 5px 5px rgba(0,0,0,.3);
    color: rgb(77, 77, 77);
}

.uni-pustaka .pustaka p {
    color: red;
    font: 400 17px Roboto, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto 10px;
}

.uni-pustaka .pustaka p.judul-artikel, .uni-pustaka .pustaka-2 p.judul-artikel {
    text-align: center;
    margin: 10px auto;    
}

.uni-pustaka .pustaka a {
    font: 300 20px 'Roboto Slab', serif;
    text-transform: capitalize;
    text-decoration: none;
    color: rgb(77, 77, 77);
}


/* pustaka terlaris */

.pustaka-terlaris-container {
    background-image: url(../assets/rak-buku.jpg);
    background-repeat: none;
    background-size: cover;
    background-position-y: 300px;
    width: 100%;
}

.pustaka-terlaris {
    width: 65%;
    align-items: center;
    margin: auto;
    padding: 40px 0 70px;
    color: white;
}

.uni-pustaka .pustaka-2 {
    width: 23%;
}

.uni-pustaka .pustaka-2 p {
    color: white;
    font: 400 17px Roboto, sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin: 30px auto 10px;
}

.uni-pustaka .pustaka-2 a {
    font: 300 20px 'Roboto Slab', serif;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}


/* pustaka terbaru */

.pustaka-terbaru-container {
    background-color: rgb(231, 231, 231);
    background-repeat: none;
    background-size: cover;
    background-position-y: 300px;
    width: 100%;
}

.pustaka-terbaru {
    width: 65%;
    align-items: center;
    margin: 0 auto 40px;
    padding: 40px 0 70px;
    color: rgb(77, 77, 77);
}